.navbar {
	width: 100%;
	height:200px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
	background-color: gray;

	border-radius: 25px;
}

.navbar .container {
	height: inherit;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu {
	display: inline-flex;
	list-style-type: none;
	padding-left: 0;
	margin-bottom: 0;
}

.navbar-menu li {
	display: inline-block;
}

.navbar-menu li a {
	display: inline-block;
	color: black;
	opacity: 0.6;
	text-decoration: none;
	padding: 20px;
	transition: all .07s ease-in-out;
}

.navbar-menu li a:hover {
	opacity: 1;
}

.navbar-wrap {
	display: flex;
	flex-flow: row nowrap;
	font-size: 36px;
	font-family: Copperplate, Papyrus, fantasy;
}
.callback {
	margin-Left: 30px;
	margin-right: 10px;
	padding: 10px;
	background-color: coral;
	border-radius: 100px;
	color: white;
	text-decoration: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: all .1s ease-in-out;
	box-sizing: border-box;
}

.callback:hover {
	transform: scale(1.04);
	transition: all .07s ease-in-out;
}

.navbar-brand {
	font-weight: 700;
	font-size: 56px;
	text-decoration: none;
	color: black;
	margin-Left: 30px;
	font-family: "Arial Black", Gadget, sans-serif;
}

.navbar-brand:hover {
	color: rgba(222, 141, 87, 1);
	transition: all .07s ease-in-out;
}

.glavkart {
	height: 450px;
	border-radius: 50px;
	margin: 130px;
	filter: drop-shadow(0 0 130px #555);
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.glavkart:hover {
	transform: scale(1.04);
	transition: all .07s ease-in-out;
}
  
.perex{
	margin-Left:10%;
	font-size:35px;
	font-family: Gadget, sans-serif;
	display: inline-flex;
}

.pravoa {
	text-decoration: none;
	background-color: coral;
	padding: 40px;
	border-radius:200px;
}

.levoa {
	text-decoration: none;
	background-color: coral;
	padding: 40px;
	border-radius:200px;
}

.pravoa:hover{
	transform: scale(1.04);
	transition: all .07s ease-in-out;
}

.levoa:hover{
	transform: scale(1.04);
	transition: all .07s ease-in-out;
}

/* Внутренние комплектующие */

.strokada {
	color: white;
	font-size: 80px;
	text-align: center;
	font-family: Arial;
}

.vnutrstupl {
	color: white;
	font-size:30px;
	font-family: arial;
	text-align: center;
}

.informvnutr {
	color: white;
	font-size: 20px;
	font-family: arial;
	padding-left: 20px;
}

/* Внешние комплектующие */

.vneshnach {
	color: white;
	font-size: 80px;
	text-align: center;
	font-family: Arial;
}

.vneshstup {
	color: white;
	font-size:30px;
	font-family: arial;
	text-align: center;
}

.informvnesh {
	color: white;
	font-size: 20px;
	font-family:Gadget, sans-serif;
	padding-left: 20px;
}

.perifer1 {
	float: right;
	height: 600px;
	border-radius: 50px;
}

.perifer2 {
	height: 600px;
	border-radius: 50px;
	margin: auto;
	display: block;
}

.perifer3 {
	float: right;
	height: 450px;
	border-radius: 50px;
}

.vnutr1 {
	float: right;
	height: 600px;
	border-radius: 50px;
}

.vnutr2 {
	height: 600px;
	border-radius: 50px;
	margin: auto;
	display: block;
}

/* Сборка ПК */

.vstupsbor {
	color: white;
	font-size: 80px;
	text-align: center;
	font-family: Arial;
}

.potextv{ 
	color: white;
	font-size:30px;
	font-family: arial;
	text-align: center;
}

.osntextsbor {
	color: white;
	font-size: 20px;
	font-family:Gadget, sans-serif;
	padding-left: 20px;
}

.gifka1{
	height: 300px;
	padding: 20px;
}

.osntextsb {
	color: white;
	font-size: 20px;
	font-family: Gadget, sans-serif;
	padding-left: 20px;
}

/* Производители */

.nachproizv {
	color: white;
	font-size: 80px;
	text-align: center;
	font-family: Arial;
}

.vstuproiz{
	color: white;
	font-size:30px;
	font-family: arial;
	text-align: center;
}
.proizvid{
	color: white;
	font-size: 20px;
	font-family: Gadget, sans-serif;
	padding-left: 20px;
}

.proizvd {
	height:300px;
	text-align:center;
	border-radius: 50px;
}

.procproiz {
	color: white;
	font-size: 20px;
	font-family: Gadget, sans-serif;
	padding-left: 20px;
}

.proc{
	height:300px;
	text-align:center;
	border-radius: 50px;
}

.drproizv{
	color: white;
	font-size: 20px;
	font-family: Gadget, sans-serif;
	padding-left: 20px;
}

/* Интересное */

.interesnach {
	color: white;
	font-size: 80px;
	text-align: center;
	font-family: Arial;
}

.intvstup {
	color: white;
	font-size:30px;
	font-family: arial;
	text-align: center;
}

.osntextin {
	color: white;
	font-size: 20px;
	font-family: Gadget, sans-serif;
	padding-left: 20px;
}

.igrasbortext1 {
	color: white;
	font-size: 20px;
	font-family: Gadget, sans-serif;
	padding-left: 20px;
}
